**Currently working, not to be pushed anywhere**

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
from requests import get

In [ ]:


def print_filing_data(link):
    r = get(link)
    r_text = r.text
    soup_object = BeautifulSoup(r_text,'lxml')
    tags = soup_object.find_all()
    df = pd.DataFrame(columns=['variable','time_period','value_usd']) 
    all_tags=['us-gaap:netincomelossavailabletocommonstockholdersbasic','us-gaap:revenues','us-gaap:salesrevenuegoodsnet','us-gaap:salesrevenuenet','us-gaap:netincomeloss','us-gaap:paymentstoacquirepropertyplantandequipment','us-gaap:proceedsfromsaleofpropertyplantandequipment','us-gaap:researchanddevelopmentexpense','us-gaap:costofrevenue']
    for tag in tags:
        if (tag.name in all_tags):
            name = tag.name.split('gaap:')[1]
            cref = tag['contextref'][-25:]
            value = tag.text
            if "20" in cref: #to filter out unnecessary values.
                df = df.append({'variable': tag.name, 'time_period': cref, 'value_usd': value}, ignore_index=True)
    
    return df[df['time_period'].str.endswith("YTD")] #to filter out quarterly values and only consider yearly.

In [8]:
base_url = 'https://www.sec.gov/Archives/edgar/data/'
link_amzn = base_url+'1018724/000101872415000006/amzn-20141231.xml'
df=print_filing_data(link_amzn)

In [9]:
df

,variable,time_period,value_usd
0,us-gaap:netincomeloss,FD2012Q4YTD,-39000000
5,us-gaap:netincomeloss,FD2013Q4YTD,274000000
10,us-gaap:netincomeloss,FD2014Q4YTD,-241000000
11,us-gaap:paymentstoacquirepropertyplantandequip...,FD2012Q4YTD,3785000000
12,us-gaap:paymentstoacquirepropertyplantandequip...,FD2013Q4YTD,3444000000
13,us-gaap:paymentstoacquirepropertyplantandequip...,FD2014Q4YTD,4893000000
14,us-gaap:salesrevenuegoodsnet,FD2012Q4YTD,51733000000
15,us-gaap:salesrevenuegoodsnet,FD2013Q4YTD,60903000000
16,us-gaap:salesrevenuegoodsnet,FD2014Q4YTD,70080000000
17,us-gaap:salesrevenuenet,FD2012Q4YTD,61093000000
22,us-gaap:salesrevenuenet,FD2013Q4YTD,74452000000
27,us-gaap:salesrevenuenet,FD2014Q4YTD,88988000000

In [2]:
df=pd.read_html('https://www.sec.gov/Archives/edgar/data/75288/000007528819000024/oxm-020219x10xk.htm')

In [3]:
print(df)

[                                            0  \
0                                         NaN
1                                         NaN
2                                           ý
3  For the fiscal year ended February 2, 2019
4                                          or
5                                           o
6           For the transition period from to

                                                   1
0                                                NaN
1                                                NaN
2  ANNUAL REPORT PURSUANT TO SECTION 13 OR 15(d) ...
3         For the fiscal year ended February 2, 2019
4                                                 or
5  TRANSITION REPORT PURSUANT TO SECTION 13 OR 15...
6                  For the transition period from to  ,                                                    0  \
0                                                NaN
1                                                NaN
2  Georgia(State or other jurisdiction of incorpo...
3  999 Peachtree Street, N.E., Suite 688, Atlanta...
4  Registrant's telephone number, including area ...
5                                                NaN
6  Securities registered pursuant to Section 12(b...

                                                   1  \
0                                                NaN
1                                                NaN
2                                                NaN
3  999 Peachtree Street, N.E., Suite 688, Atlanta...
4  Registrant's telephone number, including area ...
5                                                NaN
6  Securities registered pursuant to Section 12(b...

                                                   2
0                                                NaN
1                                                NaN
2     58-0831862(I.R.S. Employer Identification No.)
3  999 Peachtree Street, N.E., Suite 688, Atlanta...
4  Registrant's telephone number, including area ...
5                                                NaN
6  Securities registered pursuant to Section 12(b...  ,                                                    0  \
0                                                NaN
1                                                NaN
2                                Title of each class
3                         Common Stock, $1 par value
4  Securities registered pursuant to Section 12(g...

                                                   1  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4  Securities registered pursuant to Section 12(g...

                                                   2
0                                                NaN
1                                                NaN
2          Name of each exchange on which registered
3                            New York Stock Exchange
4  Securities registered pursuant to Section 12(g...  ,                            0                    1                        2  \
0                        NaN                  NaN                      NaN
1                        NaN                  NaN                      NaN
2  Large accelerated filer ý  Accelerated filer o  Non-accelerated filer o

                             3                          4
0                          NaN                        NaN
1                          NaN                        NaN
2  Smaller reporting company o  Emerging growth company o  ,                             0   1  \
0                         NaN NaN
1                         NaN NaN
2         Title of Each Class NaN
3  Common Stock, $1 par value NaN

                                                  2
0                                               NaN
1                                               NaN
2  Number of Shares Outstandingas of March 15, 2019
3                                          16958942  ,              0                                                  1         2
0          NaN                                                NaN       NaN
1          NaN                                                NaN       NaN
2          NaN                                                NaN      Page
3       PART I                                             PART I    PART I
4      Item 1.                                           Business         4
5     Item 1A.                                       Risk Factors        23
6     Item 1B.                          Unresolved Staff Comments        35
7      Item 2.                                         Properties        35
8      Item 3.                                  Legal Proceedings        35
9      Item 4.                            Mine Safety Disclosures        36
10     PART II                                            PART II   PART II
11     Item 5.  Market for Registrant's Common Equity, Related...        36
12     Item 6.                            Selected Financial Data        38
13     Item 7.  Management's Discussion and Analysis of Financ...        39
14    Item 7A.  Quantitative and Qualitative Disclosures About...        68
15     Item 8.        Financial Statements and Supplementary Data        70
16     Item 9.  Changes in and Disagreements With Accountants ...       106
17    Item 9A.                            Controls and Procedures       106
18    Item 9B.                                  Other Information       108
19    PART III                                           PART III  PART III
20    Item 10.  Directors, Executive Officers and Corporate Go...       108
21    Item 11.                             Executive Compensation       108
22    Item 12.  Security Ownership of Certain Beneficial Owner...       109
23    Item 13.  Certain Relationships and Related Transactions...       109
24    Item 14.             Principal Accounting Fees and Services       109
25     PART IV                                            PART IV   PART IV
26    Item 15.            Exhibits, Financial Statement Schedules       109
27    Item 16.                                  Form 10-K Summary       112
28  Signatures                                                NaN       112,                              0                                 1
0                          NaN                               NaN
1                          NaN                               NaN
2                  Fiscal 2019  52 weeks ending February 1, 2020
3                  Fiscal 2018   52 weeks ended February 2, 2019
4                  Fiscal 2017   53 weeks ended February 3, 2018
5                  Fiscal 2016   52 weeks ended January 28, 2017
6                  Fiscal 2015   52 weeks ended January 30, 2016
7                  Fiscal 2014   52 weeks ended January 31, 2015
8   Fourth quarter Fiscal 2018   13 weeks ended February 2, 2019
9    Third quarter Fiscal 2018   13 weeks ended November 3, 2018
10  Second quarter Fiscal 2018     13 weeks ended August 4, 2018
11   First quarter Fiscal 2018        13 weeks ended May 5, 2018
12  Fourth quarter Fiscal 2017   14 weeks ended February 3, 2018
13   Third quarter Fiscal 2017   13 weeks ended October 28, 2017
14  Second quarter Fiscal 2017      13 weeks ended July 29, 2017
15   First quarter Fiscal 2017     13 weeks ended April 29, 2017,                                                     0  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                           Net Sales
4                                        Tommy Bahama
5                                      Lilly Pulitzer
6                                      Lanier Apparel
7                                       Southern Tide
8                                 Corporate and Other
9                                     Total net sales
10                            Operating Income (Loss)
11                                       Tommy Bahama
12                                     Lilly Pulitzer
13                                     Lanier Apparel
14                                      Southern Tide
15                            Corporate and Other (1)
16                             Total Operating Income
17  (1) Corporate and Other included a LIFO accoun...

                                                    1  \
0                                                 NaN
1                                                 NaN
2                                         Fiscal 2018
3                                                 NaN
4                                                   $
5                                              272299
6                                              100471
7                                               45248
8                                               14090
9                                                   $
10                                                NaN
11                                                  $
12                                              47239
13                                               5057
14                                               5663
15                                            (20,506
16                                                  $
17  (1) Corporate and Other included a LIFO accoun...

                                                    2  \
0                                                 NaN
1                                                 NaN
2                                         Fiscal 2018
3                                                 NaN
4                                              675358
5                                              272299
6                                              100471
7                                               45248
8                                               14090
9                                             1107466
10                                                NaN
11                                              53139
12                                              47239
13                                               5057
14                                               5663
15                                            (20,506
16                                              90592
17  (1) Corporate and Other included a LIFO accoun...

                                                    3  \
0                                                 NaN
1                                                 NaN
2                                         Fiscal 2018
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                  )
16                                                NaN
17  (1) Corporate and Other included a LIFO accoun...

                                                    4  \
0                                                 NaN
1                                                 NaN
2                                         Fiscal 2017
3                                                 NaN
4                                                   $
5                                              248931
6                                              106852
7                                               40940
8                                                3467
9                                                   $
10                                                NaN
11                                                  $
12                                              46608
13                                               6546
14                                               4504
15                                            (26,660
16                                                  $
17  (1) Corporate and Other included a LIFO accoun...

                                                    5  \
0                                                 NaN
1                                                 NaN
2                                         Fiscal 2017
3                                                 NaN
4                                              686021
5                                              248931
6                                              106852
7                                               40940
8                                                3467
9                                             1086211
10                                                NaN
11                                              55002
12                                              46608
13                                               6546
14                                               4504
15                                            (26,660
16                                              86000
17  (1) Corporate and Other included a LIFO accoun...

                                                    6  \
0                                                 NaN
1                                                 NaN
2                                         Fiscal 2017
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                  )
16                                                NaN
17  (1) Corporate and Other included a LIFO accoun...

                                                    7  \
0                                                 NaN
1                                                 NaN
2                                         Fiscal 2016
3                                                 NaN
4                                                   $
5                                              233294
6                                              100753
7                                               27432
8                                                2198
9                                             1022588
10                                                NaN
11                                                  $
12                                              51995
13                                               6955
14                                               (282
15                                            (12,885
16                                              89884
17  (1) Corporate and Other included a LIFO accoun...

                                                    8  \
0                                                 NaN
1                                                 NaN
2                                         Fiscal 2016
3                                                 NaN
4                                              658911
5                                              233294
6                                              100753
7                                               27432
8                                                2198
9                                             1022588
10                                                NaN
11                                              44101
12                                              51995
13                                               6955
14                                               (282
15                                            (12,885
16                                              89884
17  (1) Corporate and Other included a LIFO accoun...

                                                    9
0                                                 NaN
1                                                 NaN
2                                         Fiscal 2016
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                  )
15                                                  )
16                                                NaN
17  (1) Corporate and Other included a LIFO accoun...  ,                                                     0  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                              Assets
4                                        Tommy Bahama
5                                      Lilly Pulitzer
6                                      Lanier Apparel
7                                       Southern Tide
8                             Corporate and Other (1)
9                                        Total Assets
10  (1) Total assets for Corporate and Other inclu...

                                                    1  \
0                                                 NaN
1                                                 NaN
2                                    February 2, 2019
3                                                 NaN
4                                                   $
5                                              152113
6                                               54369
7                                               97939
8                                             (16,520
9                                                   $
10  (1) Total assets for Corporate and Other inclu...

                                                    2  \
0                                                 NaN
1                                                 NaN
2                                    February 2, 2019
3                                                 NaN
4                                              439353
5                                              152113
6                                               54369
7                                               97939
8                                             (16,520
9                                              727254
10  (1) Total assets for Corporate and Other inclu...

                                                    3  \
0                                                 NaN
1                                                 NaN
2                                    February 2, 2019
3                                                 NaN
4                                                 NaN