In [0]:
import torch
from torch.autograd import Variable
import torch.nn.functional as F
import torch.utils.data as Data

import matplotlib.pyplot as plt

%matplotlib inline
import pandas as pd
import numpy as np
import imageio

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
ls

drive/  sample_data/

In [0]:
cd ./drive/My\ Drive/'696 Dataset'/scratch1/embeddings

/content/drive/My Drive/696 Dataset/scratch1/embeddings

In [0]:
cd ..

/content/drive/My Drive/696 Dataset/scratch1

In [0]:
cd embeddings/

/content/drive/My Drive/696 Dataset/scratch1/embeddings

In [0]:
a=torch.load('CLFD_2011.pt')
a

{'Company Name': 'Clearfield, Inc.',
 'Industry': 'Communications Equipment',
 'Ticker': 'CLFD',
 'Top 100': nan}

In [0]:
df=pd.DataFrame(columns=['year','Company','embeddings1a', 'embeddings7'])
error=[]

In [0]:
import os
import pandas as pd
import re
i=0
for filename in os.listdir():
    if filename.endswith(".pt"):
      try:
        df=df.astype('object')
        embedding1=torch.load(filename)['item1a'].cpu().data.numpy()
        #df['embeddings1a']=df['embeddings1a'].astype('object')
       
        embedding2=torch.load(filename)['item7'].cpu().data.numpy()
        #df['embeddings7']=df['embeddings7'].astype('object')
        filename=re.split('[_ .]',filename)
        
        df=df.append(pd.Series([filename[1], filename[0], [embedding1], [embedding2]], index=df.columns ), ignore_index=True)
      except:
       error.append(filename)

In [0]:
df

      year  ...                                        embeddings7
0     2013  ...  [[[-0.6479436, -0.53227496, -0.96918684, 0.396...
1     2014  ...  [[[-0.56207323, -0.51409143, -0.93154126, 0.36...
2     2015  ...  [[[-0.4293575, -0.5015327, -0.9175008, 0.14522...
3     2014  ...  [[[-0.64687026, -0.59606487, -0.9883264, 0.352...
4     2015  ...  [[[-0.40611959, -0.54656297, -0.95118177, 0.22...
...    ...  ...                                                ...
1805  2011  ...  [[[-0.3934065, -0.485814, -0.9232926, 0.184323...
1806  2013  ...  [[[-0.6356754, -0.5817431, -0.97415996, 0.3549...
1807  2012  ...  [[[-0.61145836, -0.5701267, -0.97582066, 0.322...
1808  2014  ...  [[[-0.47051954, -0.5172621, -0.957334, 0.21343...
1809  2010  ...  [[[-0.5246137, -0.56045425, -0.98548967, 0.458...

[1810 rows x 4 columns]

In [0]:
cd ..

/content/drive/My Drive/696 Dataset/scratch1

In [0]:
cd ./data_netincome/

/content/drive/My Drive/696 Dataset/scratch1/data_netincome

In [0]:
# pd_final=pd.DataFrame(columns=['year', 'Company' ,    'CIK' , 'NetIncomeLoss',  'BaselineOutput'])
# for filename in os.listdir():
#     if filename.endswith(".csv"):
 
#         df_struc=pd.read_csv(filename)
#         pd_final=pd.concat([pd_final,df_struc])
# print(pd_final)
pd_final=pd.read_csv('preds_train_NetIncomeLoss.csv')

        
       # df=df.append(pd.Series([filename[1], filename[0], [embedding1], [embedding2]], index=df.columns ), ignore_index=True)

In [0]:
pd_final

      Unnamed: 0  year Company  NetIncomeLoss        y_pred
0              0  2011      NP           29.1  1.321416e+08
1              1  2012      NP           44.3  1.321413e+08
2              2  2013      NP           52.0  1.325291e+08
3              3  2014      NP           68.7  1.325292e+08
4              4  2015      NP     51100000.0  1.325293e+08
...          ...   ...     ...            ...           ...
1501        1501  2012     WMK        82511.0  1.321042e+08
1502        1502  2013     WMK        71721.0  1.330929e+08
1503        1503  2014     WMK        55167.0  1.331282e+08
1504        1504  2015     WMK     59330000.0  1.330435e+08
1505        1505  2016     WMK     87162000.0  1.856669e+08

[1506 rows x 5 columns]

In [0]:
#pd_final.drop('BaselineOutput',inplace=True,axis=1)
#pd_final.drop('Unnamed: 0',inplace=True,axis=1)
#pd_final.drop('y_pred',inplace=True,axis=1)
pd_final['Embedding1']='Default Value'
pd_final['Embedding7']='Default Value'

In [0]:
pd_final

      year Company  NetIncomeLoss        y_pred     Embedding1     Embedding7
0     2011      NP           29.1  1.321416e+08  Default Value  Default Value
1     2012      NP           44.3  1.321413e+08  Default Value  Default Value
2     2013      NP           52.0  1.325291e+08  Default Value  Default Value
3     2014      NP           68.7  1.325292e+08  Default Value  Default Value
4     2015      NP     51100000.0  1.325293e+08  Default Value  Default Value
...    ...     ...            ...           ...            ...            ...
1501  2012     WMK        82511.0  1.321042e+08  Default Value  Default Value
1502  2013     WMK        71721.0  1.330929e+08  Default Value  Default Value
1503  2014     WMK        55167.0  1.331282e+08  Default Value  Default Value
1504  2015     WMK     59330000.0  1.330435e+08  Default Value  Default Value
1505  2016     WMK     87162000.0  1.856669e+08  Default Value  Default Value

[1506 rows x 6 columns]

In [0]:
CompanyList_struc= pd_final['Company'].unique().tolist()

#df=df.loc[df.Company.isin(CompanyList_struc), :]

In [0]:
CompanyList_unstruc= df['Company'].unique().tolist()

#pd_final=pd_final.loc[pd_final.Company.isin(CompanyList_unstruc), :]

In [0]:
'AAP' in df.Company.unique()

True

In [0]:
for i,r in pd_final.iterrows():
    for index, row in df.iterrows():
        if str(row['Company'])==str(r['Company']) and str(row['year'])==str(r['year']):
            #  print(row['Company'],r['Company'] , r['year'],row['year'],row['embeddings1a'])
            #  r['Embedding1']=row['embeddings1a']
            #  r['Embedding7']=row['embeddings7']
            pd_final.at[i,'Embedding1'] = row['embeddings1a']
            pd_final.at[i,'Embedding7'] = row['embeddings7']

In [0]:
pd_final=pd_final[pd_final['Embedding1']!='Default Value']

In [0]:
pd_final.to_csv("Merged_Data.csv")

In [0]:
year_list = df['year'].unique().tolist()
year_list

['2013', '2014', '2015', '2011', '2010', '2012', '2009', '2016']

In [0]:
pd_final

      year  ...                                         Embedding7
10    2015  ...  [[[-0.44952148, -0.5213797, -0.93694955, 0.239...
20    2013  ...  [[[-0.3713425, -0.5138531, -0.92728925, 0.1146...
38    2013  ...  [[[-0.6638991, -0.52602595, -0.96891814, 0.516...
55    2012  ...  [[[-0.43606967, -0.52089983, -0.97143775, 0.16...
58    2015  ...  [[[-0.41055417, -0.4988533, -0.9691971, 0.2078...
...    ...  ...                                                ...
1480  2015  ...  [[[-0.55992955, -0.57503456, -0.97508156, 0.30...
1485  2014  ...  [[[-0.5591741, -0.64790404, -0.9792886, 0.4016...
1489  2012  ...  [[[-0.475342, -0.53688353, -0.9570441, 0.33612...
1502  2013  ...  [[[-0.6522544, -0.4529312, -0.9591833, 0.42674...
1504  2015  ...  [[[-0.6064075, -0.45678118, -0.9609306, 0.4020...

[173 rows x 6 columns]

In [0]:
## DIDNT WORK

# splits = {'train': [], 'test': []}


# train_yr = [2010,2011,2012,2013,2014]
# test_yr =  [2015,2016]


# splits['train'].append(pd_final.loc[pd_final.year.isin(train_yr)])
# splits['test'].append(pd_final.loc[pd_final.year.isin(test_yr)])

In [0]:
splits['train'][0]

      year  ...                                         Embedding7
20    2013  ...  [[[-0.3713425, -0.5138531, -0.92728925, 0.1146...
38    2013  ...  [[[-0.6638991, -0.52602595, -0.96891814, 0.516...
55    2012  ...  [[[-0.43606967, -0.52089983, -0.97143775, 0.16...
69    2014  ...  [[[-0.48026562, -0.50623006, -0.9332737, 0.216...
78    2011  ...  [[[-0.34473574, -0.4953897, -0.95176804, 0.163...
...    ...  ...                                                ...
1458  2011  ...  [[[-0.40811718, -0.506294, -0.93791807, 0.2634...
1479  2014  ...  [[[-0.51984465, -0.51413316, -0.9207084, 0.218...
1485  2014  ...  [[[-0.5591741, -0.64790404, -0.9792886, 0.4016...
1489  2012  ...  [[[-0.475342, -0.53688353, -0.9570441, 0.33612...
1502  2013  ...  [[[-0.6522544, -0.4529312, -0.9591833, 0.42674...

[133 rows x 6 columns]

In [0]:
for i in pd_final['Company'].unique().tolist():
    df_final = pd.DataFrame(columns=['year',	'Company'	,'NetIncomeLoss'	'y_pred'	,'Embedding1',	'Embedding7'])
    filename= i + '.csv'
    for index, row in pd_final.iterrows():
        if row['Company']==i:
            df_final=df_final.append(pd.Series([row['year'], row['Company'], row['NetIncomeLoss'], row['y_pred'],row['Embedding1'],row['Embedding7']], index=df_final.columns ), ignore_index=True)
    df_final.to_csv(filename,index = False, header=True)

In [0]:
ls

AAP_merged.csv   CHCO_merged.csv  HUBG_merged.csv  ROP_merged.csv
ABCB_merged.csv  COF_merged.csv   HVT_merged.csv   SBOW_merged.csv
ACCO_merged.csv  CR_merged.csv    IBCP_merged.csv  SFST_merged.csv
ADBE_merged.csv  CSCO_merged.csv  INSM_merged.csv  SGEN_merged.csv
ADI_merged.csv   CSGP_merged.csv  IRBT_merged.csv  SHBI_merged.csv
AEL_merged.csv   CSV_merged.csv   IT_merged.csv    SHEN_merged.csv
AJRD_merged.csv  CTL_merged.csv   JCP_merged.csv   SMP_merged.csv
AKAM_merged.csv  CVLY_merged.csv  LAD_merged.csv   SPOK_merged.csv
ALGN_merged.csv  CW_merged.csv    LBAI_merged.csv  SYK_merged.csv
ALK_merged.csv   data_netincome/  LII_merged.csv   TG_merged.csv
ALL_merged.csv   DCOM_merged.csv  LMT_merged.csv   TMUS_merged.csv
AMGN_merged.csv  DLX_merged.csv   LNT_merged.csv   TOL_merged.csv
AMNB_merged.csv  embeddings/      MKTX_merged.csv  TPR_merged.csv
AMSC_merged.csv  FCF_merged.csv   MRO_merged.csv   TRMK_merged.csv
APD_merged.csv   FFBC_merged.csv  MTD_merged.csv   TRST_merged.csv
ASNA_merged.csv  FFIC_merged.csv  NATI_merged.csv  UMBF_merged.csv
ATEC_merged.csv  FL_merged.csv    NEU_merged.csv   UNB_merged.csv
ATHX_merged.csv  FMBH_merged.csv  OMN_merged.csv   UNM_merged.csv
ATRI_merged.csv  FNB_merged.csv   ORI_merged.csv   UVE_merged.csv
AWI_merged.csv   FRAF_merged.csv  OTTR_merged.csv  UVSP_merged.csv
AYI_merged.csv   FRME_merged.csv  PEBK_merged.csv  VHC_merged.csv
BHE_merged.csv   FWRD_merged.csv  PFBI_merged.csv  VLY_merged.csv
BKU_merged.csv   GATX_merged.csv  PGTI_merged.csv  VNDA_merged.csv
BRC_merged.csv   GBLI_merged.csv  PHM_merged.csv   VSEC_merged.csv
BXC_merged.csv   GNC_merged.csv   PLT_merged.csv   WASH_merged.csv
CACC_merged.csv  GRC_merged.csv   PRGX_merged.csv  WLFC_merged.csv
CB_merged.csv    HD_merged.csv    RDN_merged.csv   WMK_merged.csv
CCNE_merged.csv  HIBB_merged.csv  RF_merged.csv    WSBC_merged.csv
CDNS_merged.csv  HII_merged.csv   RHI_merged.csv   WTBA_merged.csv
CDW_merged.csv   HLIT_merged.csv  RL_merged.csv    XLNX_merged.csv
CFR_merged.csv   HOLX_merged.csv  ROCK_merged.csv

In [0]:
 df_final_1=pd.DataFrame(columns=['year',	'Company'	,'NetIncomeLoss'	'y_pred'	,'Embedding1',	'Embedding7','t-1Embedding1a','t-2Embedding1a','t-1Embedding7','t-2Embedding7'])
 for filename in os.listdir():
     if filename.endswith(".csv"):
 
         df_struc=pd.read_csv(filename)
         
         df_struc['t-1Embedding1a']='default'
         df_struc['t-2Embedding1a']='default'
         df_struc['t-1Embedding7']='default'
         df_struc['t-2Embedding7']='default'
         
         if len(df_struc.index)>=3:
           #print(df_struc[(df_struc['year'])=='2012']['Embedding1'])
           for i, row in df_struc.iterrows():
 
            

              if (row['year']==2013):
                df_struc.at[i,'t-1Embedding1a'] = df_struc.loc[df_struc['year'] == 2012]['Embedding1']
                df_struc.at[i,'t-2Embedding1a'] = df_struc.loc[df_struc['year'] == 2011]['Embedding1']
                df_struc.at[i,'t-1Embedding7'] = df_struc.loc[df_struc['year'] == 2012]['Embedding7']
                df_struc.at[i,'t-2Embedding7'] = df_struc.loc[df_struc['year'] == 2011]['Embedding7']
              if (row['year']==2014):
                df_struc.at[i,'t-1Embedding1a'] = df_struc.loc[df_struc['year'] == 2013]['Embedding1']
                df_struc.at[i,'t-2Embedding1a'] = df_struc.loc[df_struc['year'] == 2012]['Embedding1']
                df_struc.at[i,'t-1Embedding7'] = df_struc.loc[df_struc['year'] == 2013]['Embedding7']
                df_struc.at[i,'t-2Embedding7'] = df_struc.loc[df_struc['year'] == 2012]['Embedding7']
              if (row['year']==2015):
                df_struc.at[i,'t-1Embedding1a'] = df_struc.loc[df_struc['year'] == 2014]['Embedding1']
                df_struc.at[i,'t-2Embedding1a'] = df_struc.loc[df_struc['year'] == 2013]['Embedding1']
                df_struc.at[i,'t-1Embedding7'] = df_struc.loc[df_struc['year'] == 2014]['Embedding7']
                df_struc.at[i,'t-2Embedding7'] = df_struc.loc[df_struc['year'] == 2013]['Embedding7']
              if (row['year']==2016):
                df_struc.at[i,'t-1Embedding1a'] = df_struc.loc[df_struc['year'] == 2015]['Embedding1']
                df_struc.at[i,'t-2Embedding1a'] = df_struc.loc[df_struc['year'] == 2014]['Embedding1']
                df_struc.at[i,'t-1Embedding7'] = df_struc.loc[df_struc['year'] == 2015]['Embedding7']
                df_struc.at[i,'t-2Embedding7'] = df_struc.loc[df_struc['year'] == 2014]['Embedding7']
              
              df_final_1=pd.concat([df_final_1,df_struc])  
          #  if (df_struc['year']=2014):
          #     df_struc.at[i,'t-1Embedding1a'] = df_struc[str(df_struc['year'])=='2013']['Embedding1']
          #     df_struc.at[i,'t-2Embedding1a'] = df_struc[str(df_struc['year'])=='2012']['Embedding1']
          #     df_struc.at[i,'t-1Embedding7'] = df_struc[str(df_struc['year'])=='2013']['Embedding7']
          #     df_struc.at[i,'t-2Embedding7'] = df_struc[str(df_struc['year'])=='2012']['Embedding7']
          # if (df_struc['year']=2015):
          #     df_struc.at[i,'t-1Embedding1a'] = df_struc[str(df_struc['year'])=='2014']['Embedding1']
          #     df_struc.at[i,'t-2Embedding1a'] = df_struc[str(df_struc['year'])=='2013']['Embedding1']
          #     df_struc.at[i,'t-1Embedding7'] = df_struc[str(df_struc['year'])=='2014']['Embedding7']
          #     df_struc.at[i,'t-2Embedding7'] = df_struc[str(df_struc['year'])=='2013']['Embedding7']
           
        

           
# print(pd_final)
print(df)

In [0]:
 class Net(torch.nn.Module):
    def __init__(self, n_feature, n_hidden, n_output):
        super(Net, self).__init__()
        self.hidden = torch.nn.Linear(n_feature, n_hidden)   # hidden layer
        self.predict = torch.nn.Linear(n_hidden, n_output)   # output layer

    def forward(self, x):
        x=x.view(3072, -1)
        x = F.relu(self.hidden(x))      # activation function for hidden layer
        x = self.predict(x)             # linear output
        return x

net = Net(n_feature=3072, n_hidden=3072, n_output=1)     # flat input of 4*768
# print(net)  # net architecture
optimizer = torch.optim.SGD(net.parameters(), lr=0.2)  #learning rate=0.2
loss_func = torch.nn.MSELoss()  # this is for regression mean squared loss

In [0]:
##Train the network
for t in range(Num_of_epoch):
  for i in no_of_rows_in_train:
   # x=input row from csv
    
    prediction = net(x.float())     # input x and predict based on x

    loss = loss_func(prediction,x.float())     # must be (1. nn output, 2. target)

    optimizer.zero_grad()   # clear gradients for next train
    loss.backward()         # backpropagation, compute gradients
    optimizer.step()        # apply gradients

In [0]:
for i in no_of_rows_in_test:

  prediction=net(x.float())
  #Append prediction in file
  #print(loss_func(prediction,y))