In [49]:
import csv
import pandas as pd

In [50]:
df=pd.read_csv("Data_2011_3k.csv")

In [51]:
df.head()

,year,Company,CIK,Revenue,NetIncomeLoss,Payments to acquire property
0,2011,AAXN,1069183,Income statement not found,cash flow not found,cash flow not found
1,2011,AIR,1750,Income statement not found,cash flow not found,cash flow not found
2,2011,AJRD,40888,0,2.9,-21.1
3,2011,ARNC,4281,Income statement not found,cash flow not found,cash flow not found
4,2011,ATRO,8063,0,21591.0,-14281.0

In [52]:
df_rev=df[df['Revenue']!='0']
df_rev=df_rev[df_rev['Revenue']!='Income statement not found']
df_rev.drop('NetIncomeLoss',inplace=True,axis=1)
df_rev.drop('Payments to acquire property',inplace=True,axis=1)
df_rev.drop_duplicates(subset ="Revenue", 
                     keep = 'first', inplace = True) 
df_rev.to_csv("Clean_Rev_3k_2011.csv",index = False, header=True)

In [53]:
df_inc=df[df['NetIncomeLoss']!='0']
df_inc=df_inc[df_inc['NetIncomeLoss']!='cash flow not found']
df_inc.drop('Revenue',inplace=True,axis=1)
df_inc.drop('Payments to acquire property',inplace=True,axis=1)
df_inc.drop_duplicates(subset ="NetIncomeLoss", 
                     keep = 'first', inplace = True) 
df_inc.to_csv("Clean_NetIncomeLoss_3k_2011.csv",index = False, header=True)

In [54]:
df_pay=df[df['Payments to acquire property']!='tag not found']
df_pay=df_pay[df_pay['Payments to acquire property']!='cash flow not found']
df_pay.drop('Revenue',inplace=True,axis=1)
df_pay.drop('NetIncomeLoss',inplace=True,axis=1)
df_pay.drop_duplicates(subset ="Payments to acquire property", 
                     keep = 'first', inplace = True) 
df_pay.to_csv("Clean_Payments_3k_2011.csv",index = False, header=True)